body {
    font-family: 'Lato', sans-serif;
    color: rgba(72,72,72,0.8);
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.page-container {
    min-width: 320px;
    background-color: #fafafa;
}
.main-header {
    height: 52px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
}
.page-title-container {
    padding: 0 1em;
}
.page-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0.4em;
    font-size: 1.5rem;
    background: url(../img/logo-github.png) no-repeat;
    background-size: contain;
    padding-left: 1em;
}

.main-content {
    margin-top: 52px;
    padding: 1.5em 0.75em 2.5em 0.75em;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.avatar-container {
    text-align: center;
    width: 50%;
    margin: auto;
    max-width: 14em;
}
img.avatar {
    border: 8px solid rgba(0,0,0,0.1);
    border-radius: 100%;
}
.page-subtitle {
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.location {
    text-align: center;
    color: #fff;
}
.weblink {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
}
.weblink a {
    color: #fff;
    text-decoration: none;
}
.main-footer {
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}