.site-footer {
    padding-top: 1.5rem;
}
.social-links-list {
    li {
        padding: 0 1rem;
    }
    a {
        color: $txt-lead-color * 1.75;
        &:hover,
        &:focus {
            color: $txt-lead-color;
            text-shadow: 0 4px 7px rgba(0,0,0,0.25);
        }
    }
}