/* ESTILOS COMUNES */
* {
    box-sizing: $global-box-sizing
}
body {
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-weight: $global-font-weight;
    line-height: $global-line-height;
    background-color: #f0f0f0;
    background-image: url("#{$image-path}cream_dust.jpg");
    color: $txt-lead-color;
}

/* typography */
.h1 {
    font-family: $alt-font-family;
    font-weight: $global-font-weight;
    line-height: $header-line-height;
}
.one-line {
    font-size: 9vw;
    @media screen and (min-width: 48em) {
        font-size: 8vw;
    }
    @media screen and (min-width: 62em) {
        font-size: 6vw;
    }
    @media screen and (min-width: 87em) {
        font-size: 3rem;
    }
}
p {
    line-height: $global-line-height;
}
.markup {
    color: #ccc;
    font-size: $txt-small;
}
ul {
    list-style-type: none;
    padding: 0;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a, button {
    outline-color: #fff;
}
hr {
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    border: 0; 
    margin: 25px 0;
    height: 1px;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #000));
}

/* /typography */



/* Layout */
.site-container {
    min-width: $global-site-min-width;
}
main {
    width: 93%;
    margin: 0 auto;
    max-width: 44rem;
    outline: none;
}




