/* ESTILOS COMUNES */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: $global-font-family;
    font-size: $global-font-size;
    background-color: #f0f0f0;
    background-image: url("#{$image-path}cream_dust.jpg");
    color: #343434;
}
.site-container {
    min-width: $global-site-min-width;
}
main {
    width: 93%;
    margin: 0 auto;
    max-width: 700px;
}
footer {
    border-top: 7px solid #fff;
    padding: 1rem;
}
.h1 {
    font-weight: 300;
    line-height: 1;
}
p {
    line-height: 1.44;
}
.markup {
    color: #ccc;
}
ul {
    list-style-type: none;
    padding: 0;
}
button {
    cursor: pointer;
}
a, button {
    outline-color: #fff;
}
.responsive-img {
    width: 100%;
}
