/* globals */
$global-font-family: 'Lato', sans-serif;
$alt-font-family: "Helvetica Neue", Helvetica, sans-serif;
$global-font-weight: 300;
$global-font-size: 100%;
$global-line-height: 1.5;
$header-line-height: 1;

/* font-sizes */
$txt-tiny: 0.8rem;
$txt-small: 0.9rem;
$txt-normal: 1rem;
$txt-big: 1.5rem;
$txt-huge: 2rem;

/* font colors */
$txt-lead-color: #343434;

/* layout */
$global-site-min-width: 320px;
$global-box-sizing: border-box;
$image-path: "/img/";


/* appendix */
/*

Chequeo del contraste del color mediante http://webaim.org/resources/contrastchecker/ 

*/