/* text alignments */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
/* text sizes */
.text-tiny {
    font-size: $txt-tiny;
}
.text-small {
    font-size: $txt-small;
}
.text-normal {
    font-size: $txt-normal;
}
.text-big {
    font-size: $txt-big;
}
.text-huge {
    font-size: $txt-huge;
}


.responsive-img {
    width: 100%;
}
.is-modal-open {
    overflow: hidden;
}
